{% extends 'base.html' %}
{% block content %}
    <div class="content-block">
    <div id="admin">
        <h1 class="content-block-title">{% block title %} Administrator Login {% endblock %}</h1>
        <hr>
        {% if seat_chart %} 
        <div>
            <h3>Printing Seating Chart...</h3>
            <div id="seat-chart">
                {% for row in seat_chart %}
                {{ row }}
                <br>
                {% endfor %}
            </div>
            <h3>Total Sales: {{ sales }}</h3>
        </div>
        {% endif %}
        
        <form method="post">
            <label for="username">Username: </label>
            <br>
            <input type="text" name="username" id="username">
            <br>
            <br>
            <label for="password">Password: </label>
            <br>
            <input type="text" name="password" id="password">
            <br>
            <br>
            <button type="submit">LOGIN</button>
        </form>
    </div>
    </div>
    
{% endblock %}